<div class="container" data-controller= "select-storages">
  <div class="d-flex m-5">
    <div class="col-4 m-2">
      <h3>Fazendas:</h3>
      <%= select_tag "farm",
      options_from_collection_for_select(@farms, :id, :name, selected: @selected_farm),
      prompt: 'Selecione a fazenda',
      data: {
        action: "change->select-storages#updateStorages",
        select_storages_target: "farms"
      },
      id: 'farms_dropdown',
      class: 'form-control' %>
    </div>
    <div class="col-4 m-2">
      <h3>Estoques:</h3>
      <%= select_tag "storage",
      options_from_collection_for_select([], "id", "name"),
      include_blank: 'Selecione o estoque',
      id: 'storages_dropdown',
      class: 'form-control',
      disabled: true,
      data: {
        action: "change->select-storages#updateCarts",
        select_storages_target: "storages"
      } %>
    </div>
  </div>
  <div class="m-5" id="carts" data-select-storages-target="carts">
    <h3 class='my-4'>Meus Produtos:</h3>
    <p>Selecione a fazenda e o estoque</p>
  </div>
</div>
