<div class="container container-view mt-4">
  <div class="form-shape col-md-6 mx-auto">
    <%= link_to chemicals_path, class: 'btn-back text-decoration-none' do %>
      <i class='fa-solid fa-circle-left'></i>
    <% end %>
    <h2 class="form-title pb-2">Editar Químico</h2>
    <%= render partial: 'chemicals/form' %>

  </div>
</div>
