<div class="container container-view mt-4">
  <div class="form-shape col-md-6 mx-auto">
    <%= link_to root_path, class: 'btn-back text-decoration-none' do %>
      <i class='fa-solid fa-circle-left'></i>
    <% end %>
    <h3 class="form-title pb-3">Editar Químico</h3>
    <%= render partial: 'chemicals/form' %>

  </div>
</div>
