<footer class="footer">
  <div class="container">
  <div class="row">
        <div class="col-md-5 about-us">
          <h3 class="first-h3">Sobre Nós</h3>
          <p class= "paragraph-market"> My Chemicals é um projeto para gerenciar o estoque de forma que se tenha um controle confiável de produtos químicos afim atender às necessidades de diversos setores.
          Com uma plataforma intuitiva de serviços, estamos aqui para impulsionar seu negócio com segurança e eficiência.
          Explore nosso gerenciador de estoque agora e descubra como podemos ser seu parceiro na sua fazenda.</p>
        </div>
        <div class="col-md-2 mx-3">
          <h3 class="first-h3">Links Úteis</h3>
          <ul class="list-unstyled">
            <li><%= link_to "Página Inicial", root_path %></li>
            <li><%= link_to "Registros", carts_path %></li>
            <li><%= link_to "Funcionários", employees_path %></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="first-h3">Contato</h3>
          <p>Email: bernardo.acarv@gmail.com</p>
          <div class="footer-links">
            <h2 class="first-h2">Redes Sociais<h2>
            <a href="https://github.com/BernardoNal" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/bernardo-carvalho-bac/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
</div>
</div>
</footer>
