<div class="footer">
  <div class="container mt-4">
    <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
      <div class="col-md-12">
        <p class="text-center">&copy; <%= Time.now.year %> My Chemicals Marketplace. Todos os direitos reservados.</p>
      </div>

  </div>
</div>
