<%= turbo_frame_tag "modal", target: "_top" do %>
  <div data-controller= "modal">
    <div class="transparent-overlay dark-transparent-background" data-action="click->modal#closeModal"></div>
    <div class="modal-card rounded">
      <div class="d-flex justify-content-between m-2">
        <h2 class="fw-bold pending-date m-2"><i class="fa-regular fa-file-lines"></i> <%= title %></h2>
        <h2><i class="fa-solid fa-xmark fa-fade modal-close-button position-absolute-end" data-action="click->modal#closeModal"></i></h2>
      </div>
      <%= yield %>
    </div>
  </div>
<% end %>
