


<div class="container">
  <div class="form-shape col-md-6 mx-auto">
    <h1 class="form-title">Carrinho</h1>
     <%= simple_form_for [@cart,@cart_chemical], method: :post do |f| %>
      <%= f.input :quantity,  label: "Quantidade" %>
      <%= f.input :chemical_id, as: :select, collection: @chemicals, label: "Quimico" %>
      <%= f.button :submit, value: "criar", class: "my-2 btn-login" %>
    <% end %>
    <div id=>
    </div>
  </div>
</div>
