.btn-login {
  color: white;
  padding: 4px 8px ;
  border-radius: 8px;
  background: $dark-green;
  text-decoration: none;
  font-size: 14px;
  width: 100%;
}

.btn-login:hover {
  background: $new-green;
  transition: background 0.3s ease;
  color: white;
}

.btn-clean {
  text-decoration: none !important;
}

.btn-blue {
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  background: $blue;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border: none;
  text-decoration: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s ease;
  &:hover {
    background-color: #0d67ec;
  }
}

.btn-new-farm {
  color: white;
  padding: 4px 10px ;
  border-radius: 50%;
  background: $dark-green;
}

.btn-back {
    color: rgb(201, 201, 201);
    padding: 2px ;
    border-radius: 8px;
    text-decoration: none;
    font-size: 25px;
    margin: 0%;
    width: 20px;

  }

.btn-red {
  color: $red !important;
  padding: 4px 8px ;
  text-decoration: none;
  font-size: 12px;
  text-align: center;

}

.btn-update {
  color: white;
  padding: 4px 8px ;
  border-radius: 8px;
  background: $dark-green;
  text-decoration: none;
  font-size: 14px;
  width: 50%;
}


.btn-delete-bin {
  color: #c50000 !important;
}

.btn-edit {
  color: $dark-green;
  padding: 4px 8px ;
  border-radius: 8px;
  background: #fff;
  border: 1px solid $dark-green;
  text-decoration: none;
  font-size: 14px;
    &:hover {
      background: $dark-green;
      transition: background 0.3s ease;
      color: white;
  }
}

.btn-plus-sign {
  color: white;
  padding: 4px 10px ;
  border-radius: 50%;
  background: $btn-green;
  text-decoration: none;
  position: fixed;
  bottom:20px;
  right: 20px;
  font-size:24px;
  border: 1px solid white;
}

.btn-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

.btn-approve {
  color: white;
  padding: 6px 8px ;
  width: 100%;
  background: $dark-green;
  text-decoration: none;
  font-size:16px;
  text-align: center;
}

.btn-reject {
  color: white;
  padding: 6px 8px ;
  width: 100%;
  background: $dark-brown;
  text-decoration: none;
  font-size:16px;
  text-align: center;
}

.btn-new-product {
  color: white;
  padding: 4px 8px ;
  border-radius: 8px;
  background: #7B876D;
  text-decoration: none;
  font-size: 14px;
  margin-top: 8px;
  border: #7B876D;
    &:hover {
      background: $new-green;
      transition: background 0.3s ease;
      color: white;
  }
}

.btn-out-product {
  color: white;
  padding: 4px 8px ;
  border-radius: 8px;
  background: rgb(189, 36, 36);
  text-decoration: none;
  font-size: 14px;
  border: white;
    &:hover {
      background: whitesmoke;
      transition: background 0.5s ease;
      color: red;
  }
}

.btn-jdn {
margin-top: 10px;
}
