.btn-login {
  color: white;
  padding: 4px 8px ;
  border-radius: 8px;
  background: $dark-green;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
}

.btn-login:hover {
  background: $new-green;
  transition: background 0.3s ease;
  color: white;
}

.btn-clean {
  text-decoration: none !important;
}

.btn-blue {
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  background: $blue;
  width: 100%;
  font-size: 16px;
  text-align: center;
  border: none;
  text-decoration: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s ease;
  &:hover {
    background-color: #0d67ec;
  }
}

.btn-new-farm {
  color: white;
  padding: 4px 10px ;
  border-radius: 50%;
  background: $dark-green;
  text-decoration: none;
  position: fixed;
  bottom:20px;
  right: 20px;
  font-size:24px;

}
