.card-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
}

.infos {
  padding: 16px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.cards {
  a.ma {
    color: white;
  }

  a {
    text-decoration: none;
    color: black;
  }

  margin-top: 32px;
}

.card-item .card-item-content {
  flex-grow: 1;
  padding: 2px 24px;
}

.card-item p {
  margin: 0;
  line-height: 1.4;
}

.card-item small {
  font-weight: bold;
}

.card-item .card-item-actions {
  display: flex;
  transition: ease .3s;
}

.card-item .card-item-actions a {
  color: $red;
  margin-left: 16px;
  font-size: 14px;
}

.card-item .card-item-actions a:hover {
  color: #555555;
}

.farm-card {
  border-radius: 10px;
  padding: 20px;
  margin: 20px;


  .farm-title {
    color: $form-title;
    font-size: 24px;
  }

  .farm-content {
    color: $gray;
    margin-top: 10px;
  }

  .farm-btn {
    background-color: $dark-green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken($btn-green, 10%);
    }
  }
}

.map {
  height: 200px;
  width: 100%;

}

.cards {
  display: flex;
  flex-direction: column;
}

.card-small {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #787878;
  padding: 12px;
  margin-bottom: 16px;
  transition: 0.4s;

  h2 {
    font-family: $home-font;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 16px;
    text-align: center;
    color: $dark-green;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    font-weight: 600;
    font-family: $home-font;
  }

  hr {
    margin: 4px 0;
  }

  &:hover {
    transform: scale(1.05, 1.05);
    transition: 0.4s;
  }
}

.card-small .position-relative {
  position: absolute;
  bottom: 40px;
}

.card-title {
  border-radius: 4px;
  background-color: $light-green;
  margin-bottom: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.card-small-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-small-info {
  height: 85px;
}
