.container-view {
  min-height: 80vh !important;
}

.nopadding {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.card-bg-img {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), image-url('3.jpg') no-repeat center/cover;
}

.card-item, .card-small, .card-static {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #787878;
  padding: 12px;
  margin-bottom: 16px;
  transition: 0.4s;
}

.card-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 8px;
}

.card-item .card-item-content, .card-small-content {
  flex-grow: 1;
  padding: 2px 24px;
}

.card-item .card-item-actions, .card-small-content {
  display: flex;
}

.card-item .card-item-actions a {
  color: $red;
  margin-left: 16px;
  font-size: 14px;
  transition: ease 0.3s;
}

.card-item .card-item-actions a:hover {
  color: #555;
}

.card-item p, .card-small p, .card-static p {
  margin: 0;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 600;
  font-family: $home-font;
}

.card-small:hover, .card-static:hover {
  transform: scale(1.05);
}

.cards {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.cards a {
  text-decoration: none;
  color: black;
}

.cards a.ma {
  color: white;
}

.farm-card {
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.farm-card .farm-title {
  color: $form-title;
  font-size: 24px;
}

.farm-card .farm-content {
  color: $gray;
  margin-top: 10px;
}

.farm-card .farm-btn {
  background-color: $dark-green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.farm-card .farm-btn:hover {
  background-color: darken($btn-green, 10%);
}

.map {
  margin-top: 12px;
  height: 200px;
  width: 100%;
}

.card-title {
  border-radius: 4px;
  background-color: $light-green;
  margin-bottom: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.card-small h2, .card-static h2 {
  font-family: $home-font;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 16px;
  text-align: center;
  color: $dark-green;
}

.card-small hr {
  margin: 4px 0;
}

.card-small .position-relative {
  position: absolute;
  bottom: 40px;
}

.card-small-info {
  height: 85px;
}

.card-static {
  display: flex;
  justify-content: space-around;
}
