.title-big {
  text-align: center;
  font-family: $home-font;
  color: $form-title;
}

.title-medium {
  text-align: center;
  font-size: 16px;
  font-family: $home-font;
  color: $form-title;
  color: white;
}
