<%= render "shared/modal", title: "Detalhes da atividade "  do %>
  <div class="col-10 mx-auto ">
    <div class="card-small row">
     <p>Nome:<%= @activity.name %></p>
    </div>
  </div>
<% end %>
