<div class="container">
  <div class="form-shape col-md-6 mx-auto">
    <h1 class="form-title">Cadastrar </h1>
    <%= simple_form_for new_cart_chemical_path(@cart) do |f| %>
      <%= f.input :quantity,  label: "Quantidade" %>
      <%= f.input :chemical, as: :select, collection: @chemicals, label: "Quimico" %>
      <%= f.button :submit, value: "criar", class: "my-2 btn-login" %>
    <% end %>
  </div>
</div>
